/*=============== HEADER ===============*/
.header {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--container-color);
  z-index: var(--z-fixed);
  transition: 0.4s;
}

/*=============== NAV ===============*/
.nav {
  max-width: 968px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__img {
    width: 32px;
    border-radius: 50%;
  }

  &__logo {
    color: var(--title-color);
    font-weight: 600;
  }

  @media screen and (max-width: 767px) {
    &__menu {
      position: fixed;
      bottom: -100%;
      left: 0;
      width: 100%;
      background-color: var(--container-color);
      padding: 2rem 1.5rem 4rem;
      box-shadow: 0 -1px 4px hsla(var(--hue), var(--sat), 15%, 0.15);
      border-radius: 1.5rem 1.5rem 0 0;
      transition: 0.3s;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  &__link {
    display: flex;
  }

  &__link {
    flex-direction: column;
    align-items: center;
    row-gap: 4px;
    color: var(--title-color);
    font-weight: 600;
  }

  &__list {
    justify-content: space-around;
  }

  &__name {
    font-size: var(--tiny-font-size);
    // display: none; // Minimalist design, hidden labels
  }

  &__icon {
    font-size: 1.5rem;
  }

	.nav__close {
		position: absolute;
		right: 1.3rem;
		bottom: .5rem;
		font-size: 1.5rem;
		cursor: pointer;
		color: var(--first-color);
	}

  &__btns {
    display: flex;
    align-items: center;
  }

  &__toggle {
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 600;
  }

  .change-theme {
    font-size: 1.25rem;
    color: var(--title-color);
    margin-right: 1rem;
    cursor: pointer;
  }

  .change-theme:hover {
    color: var(--first-color);
  }
}

/*Active link*/
.active-link {
  position: relative;
  color: var(--first-color);
  transition: 0.3s;

  // Minimalist design, active link
  // &::before{
  //     content: '';
  //     position: absolute;
  //     bottom: -.5rem;
  //     width: 4px;
  //     height: 4px;
  //     background-color: var(--first-color);
  //     border-radius: 50%;
  // }
}

/* Change background header */
.scroll-header {
  box-shadow: 0 1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
}

.show-menu {
	bottom: 0;
}
